.header {
        height: var(--header-height);
        background-color: #1A94FF;
}
.header__navbar {
        display: flex;
        justify-content: space-between;
}
.header__navbar-list {
        list-style: none;
        padding-left: 0;
        margin: 5px 0 0 0;
        display: flex;
}
.header__navbar-item {
        margin: 0 10px;
        position: relative;
        min-height: 26px;
}
.header__navbar-user {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
}
.header__navbar-user:hover .header__navbar-user-menu {
        display: block;
}
.header__navbar-user-img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid rbga(0, 0, 0, 0.1);
}
.header__navbar-user-menu {
        position: absolute;
        z-index: 1;
        padding-left: 0;
        top: 100%;
        right: 0;
        background-color: var(--white-color);
        border: 3px;
        width: 160px;
        list-style: none;
        box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
        display: none;
}
.header__navbar-user-item-separate {
        border-top: 1px solid rgba(0,0,0,0.05);
}
.header__navbar-user-item a {
        color: var(--text-color);
        text-decoration: none;
        font-size: 1.4rem;
        display: block;
        padding: 12px 16px;
}
.header__navbar-user-item a:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
}
.header__navbar-user-item a:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
}
.header__navbar-user-item a:hover {
        background-color: #FAFAFA;
}
.header__navbar-user-name {
        margin-left: 8px;
        font-size: 1.4rem;
        font-weight: 300;
}
.header__navbar-item-has-notify:hover .header-notify{
        display: block;
}
.header__navbar-item,
.header__navbar-item-link {
        display: inline-block;
        font-size: 1.4rem;
        color: var(--white-color);
        text-decoration: none;
        font-weight: 400;
}
.header__navbar-item-link-title {
        margin-left: 5px;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
        display: inline-flex;
        align-items: center;
}
.header__navbar-item--strong {
        font-weight: 400;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
        cursor: pointer;
        color: rgba(255,255,255,0.5);
        transition: all 0.3s;
}
.header__navbar-icon-link {
        color: var(--white-color);
        text-decoration: none;
}
.header__navbar-icon-link:nth-child(2) {
        margin-left: 3px;
}
.header__navbar-icon {
        font-size: 1.2rem;
        margin: 0 4px;
}
.header__navbar-title--no-pointer {
        cursor: text;
        color: var(--white-color);
}
/* Authen Modal */
.auth-form {
        width: 500px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #F5F5F5;
}
.auth-form__container {
        padding: 30px 32px;
        background-color: var(--white-color);
}
.auth-form__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.auth-form__heading {
        font-size: 2.2rem;
        font-weight: 400;
        color: var(--text-color);
}
.auth-form__switch-btn {
        font-size: 1.6rem;
        color: var(--primary-color);
        font-weight: 500;
        cursor: pointer;
}
.auth-form__form {
        margin-top: 40px;
}
.auth-form__input {
        width: 100%;
        height: 40px;
        margin-top: 16px;
        padding: 0 12px;
        font-size: 1.4rem;
        border-radius: 2px;
        border: 1px solid var(--border-color);
        outline: none;
}
.auth-form__input:focus {
        border-color: #777;
}
.auth-form__aside { 
        margin-top: 20px;
}
.auth-form__policy-text {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8rem;
        text-align: center;
}
.auth-form__text-link {
        color: var(--primary-color);
        text-decoration: none;
}
.author-form__controls {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
}
.author-form__controls-back {
        margin: 0 8px;
}
.author-form__socials {
        background-color: var(--primary-color);
        padding: 16px 36px;
        display: flex;
        justify-content: space-between;
}
.author-form__socials-icon {
        font-size: 1.8rem;
}
.author-form__socials--facebook{
        background-color: #3A5A98;
        color: var(--white-color);
}
.author-form__socials--facebook
.author-form__socials-icon {
        color: var(--white-color);
}
.author-form__socials-title {
        margin: 0 20px;
}
.author-form__socials--google {
        margin-left: 10px;
        background-color: var(--white-color);
        color: #666;
}
.auth-form__help {
        display: flex;
        justify-content: flex-end;
}
.auth-form__help-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: #939393;
}
.auth-form__help-separate {
        display: block;
        border-left: 1px solid var(--border-color);
        margin: 0 16px;
        height: 22px;
}
.auth-form__help-forgot {
        color: var(--primary-color);
}
.auth-form-remember {
        font-size: 1.4rem;
        margin-top: 16px;
        padding: 0 2px;
}
#register {
        display: none;
}
#overlay {
        z-index: 2;
        display: none;
}
.header-with-search {
        height: var(--header-with-search-height);
        display: flex;
        align-items: center;
        margin: 12px 0;
}
.header__logo {
        width: 100px;
}
.header__logo-link {
        text-decoration: none;
        color: transparent;
}
.header__logo-img {
        margin: 0 0 0 10px;
        width: 60px;
        height: 40px;
}
.header__search {
        flex: 1;
        height: 40px;
        display: flex;
        align-items: center;
}
.header__cart {
        width: 100px;
        text-align: center;
}
.header__cart-wrap {
        position: relative;
        display: inline-block;
        padding: 0 8px;
        cursor: pointer;
        z-index: 1;
}
.header__cart-wrap:hover .header__cart-list {
        display: block;
}
.header__cart-icon {
        color:  var(--white-color);
        font-size: 2.8rem;
}
.header__cart-list {
        position: absolute;
        top: calc(100% + 8px);
        right: 5px;
        background-color: #FDFDFD;
        width: 400px;
        border-radius: 3px;
        box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
        display: none;
        animation: fadeIn ease-in 0.2s;
        cursor: default;
}
.header__cart-list::after {
        content: "";
        position: absolute;
        right: 1px;
        top: -25px;
        border-width: 14px 16px;
        border-style: solid;
        border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-heading {
        text-align: left;
        margin: 8px 0 8px 12px;
        font-size: 1.4rem;
        color: #999;
        font-weight: 400;
}
.header__cart-list-item {
        padding-left: 0;
        list-style: none;
}
.header__cart-item {
        display: flex;
        align-items: center;
}
.header__cart-item:hover {
        background-color: #F8F8F8;
}
.header__cart-img {
        width: 60px;
        height: 50px;
        margin: 12px;
        border: 1px solid var(--border-color);
}
.header__cart-item-info {
        margin-right: 12px;
        width: 100%;
}
.header__cart-item-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.header__cart-item-name {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color);
        margin: 0;
}
.header__cart-item-price {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--primary-color);
}
.header__cart-item-multiply {
        font-size: 1rem;
        margin: 0 4px;
        color: #757575;
}
.header__cart-item-quantity {
        font-size: 1.2rem;
        color: #757575;
}
.header__cart-item-body {
        display: flex;
        justify-content: space-between;
}
.header__cart-item-description {
        font-size: 1.3rem;
        color: #757575;
}
.header__cart-item-remove {
        color: var(--text-color);
        font-size: 1.4rem;
}
.header__cart-item-remove:hover {
        color: var(--primary-color);
        cursor: pointer;
}
.header__cart-view-cart {
        float: right;
        margin: 0 12px 12px 0;
        color: var(--white-color);
}
.header__cart-list--no-cart {
        padding:  28px 0;
}
.header__cart-list--no-cart .header__cart-no-card-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.header__cart-no-card-img {
        width: 60%;
        display: none;
}
.header__cart-list-no-cart-msg {
        display: none;
        font-size: 1.6rem;
        margin-top: 15px;
        font-weight: 500;
        color: var(--text-color);
}
.header__cart-notice {
        position: absolute;
        padding: 1px 7px;
        background-color: var(--white-color);
        color: var(--primary-color);
        font-size: 1.5rem;
        line-height: 1.5rem;
        border-radius: 15px;
        top: -10px;
        right: -5px;
}
.header__search-input-wrap {
        flex: 1;
        height: 100%;
        position: relative;
}
.header__search-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 0 16px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
}
.header__search-btn {
        width: 150px;
        background-color: #0D5CB6;
        border: none;
        height: 40px;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        outline: none;
        text-align: center;
}
.header__search-btn:hover {
        cursor: pointer;
        background-color: #FF6F30;
}
.header__search-btn-icon {
        padding: 10px;
        font-size: 1.6rem;
       color: var(--white-color); 
}
.header__search-btn-icon-title {
        color: var(--white-color);
        font-size: 1.4rem;
}
.header__search-input:focus ~ .header__search-history {
        display: block;
}
/* Search history */
.header__search-history {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        border-radius: 3px;
        box-shadow: 0 1px 5px #999;
        display: none;
        overflow: hidden;
        z-index: 1;
}
.header__search-history-heading {
        margin: 16px 12px;
        font-size: 1.4rem;
        color: #999;
        font-weight: 400;
}
.header__search-history-list {
        padding-left: 0;
        list-style: none;
        margin: 6px 0 0;
}
.header__search-history-item {
       height: 38px; 
       padding: 0 12px;
       display: flex;
       justify-content: space-between;
}
.header__search-history-item:hover {
        background-color: #fafafa;
}
.header__search-history-item a {
        text-decoration: none;
        font-size: 1.4rem;
        line-height: 38px;
        color: var(--text-color);
        display: block;
}
.nav_bar {
        position: relative;
        background-color: var(--white-color);
        height: 44px;
}
.nav_bar-nav-link {
        text-decoration: none;
        text-align:center;

}
.nav_bar-nav-link-item {
        display: inline-block;
        font-size: 1.4rem;
        padding: 15px 0px;
        color: var(--black-color);
}
.icon {
        position: absolute;
        top: 17px;
        right: 0px;
        bottom: 0px;
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
        cursor: pointer;
        z-index: 1;
        background-color: transparent;
        border-radius: 20px;
        vertical-align: middle;
}
#slider {
        position: relative;
        overflow: hidden;
}
.news-slider {
        margin-top: 15px;
}
.slider-img {
        width: 100%;
}
.control_prev {
        position: absolute;
        top: 45%;
        left: 0px;
        font-size: 2rem;
        padding: 10px 5px;
        text-decoration: none;
        color: var(--white-color);
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
}
.control_prev:hover,
.control_next:hover {
        background-color: rgba(0, 0, 0, 0.4);
}
.control_next {
        position: absolute;
        top: 40%;
        right: 0px;
        font-size: 2rem;
        padding: 10px 5px;
        text-decoration: none;
        color: var(--white-color);
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
}

.slider-news-sale {
        width: 100%;
}
.sale__item {
        border-radius: 5px;
}
.sale__item-content {
        position: relative;
}
.sale__item-control-next {
        position: absolute;
        width: 32px;
        z-index: 1;
        right: 25px;
        top: 30%;
        cursor: pointer;
        opacity: 0.3;
}
.sale__item-control-next:hover,
.sale__item-control-prev:hover {
        opacity: 1;
}
.sale__item-control-prev {
        position: absolute;
        left: 0;
        top: 30%;
        width: 32px;
        z-index: 1;
        transform: rotate( 180deg);
        cursor: pointer;
        opacity: 0.3;
        visibility: hidden;
}
.sale__item-header {
        margin-top: 10px;
        margin-bottom: 1px;
        margin-right: 25px;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        background-color: var(--white-color);
        border: 1px solid rgba(0,0,0,0.01);
        border-radius: 5px;
}
.hot__deal {
        background-color: var(--white-color);
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.01);
        margin-right: 25px;
}
.hot__deal-item {
        text-decoration: none;
}
.sale__item-link {
        display: inline-block;
        height: 100%;
        text-decoration: none;
        padding: 12px;
}
.hot__deal-item:hover .sale__item-link {
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
        z-index: 1;
}
.sale__item-link-thumbnail {
        width: 180px;
        height: 180px;
}
.sale__item-link-thumbnail-img {
        width: 100%;
        height: 100%;
}
.sale__item-link-info {
        line-height: 2.4rem;
        align-items: center;
        padding: 10px 5px;
}
.sale__item-link-info-price {
        font-size: 1.6rem;
        color: black;
        font-weight: 600;
}
.currency {
        color: var(--black-color);
        text-decoration: underline;
}
.sale-price {
        color: red;
}
.sale__item-link-info-discount {
        border: 1px solid red;
        background-color: #FFF0F1;
        border-radius: 4px;
        font-size: 1.2rem;
        padding: 2px;
        color: red;
        margin: 0 5px;
}
.sale__item-link-process {
        padding: 0 10px;
        width: 100%;
}

.sale__item-link-qty {
        position: relative;   
        background-color: rgb(255, 170, 175);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        width: 100%;
        height: 20px;
}
.sale__item-link-qty-process {
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: rgb(255, 66, 78);
        height: 20px;
        border-radius: 10px;
        min-width: 20px;
}
.sale__item-link-qty-remain {
        font-size: 1.1rem;
        line-height: 16px;
        padding: 0px 0px 0px 6px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        text-align: center;
}
.fire-icon {
        z-index: 1;
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 4px;
        left: 5px;
}